<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Artflow</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header id="page_header" role="banner">
    <nav id="utility">
      <p>
        You are logged in as <strong>Sam Spade</strong>
        <%= link_to "[Your Account]", "#" %> |
        <%= link_to "[Logout]", "#" %>
      </p>
    </nav>
    <%= link_to(
          image_tag("logo.png",
                    alt: "Artflow",
                    id: "logo"),
          root_url,
          title: "Dashboard") %>
   <%= yield :main_navigation %>
  </header>
  <%= image_tag("tagline.png",
                alt: "Creative File Management Made Easy",
                id: "tagline") %>
  <div class="container">
    <section id="content">
      <%= yield %>
    </section>
    <section id="sidebar">
      <%# START_HIGHLIGHT %>
      <nav id="functional_nav">
        <ul>
          <% if current_user.designer? %>
            <li><%= link_to 'Add Creation', new_creation_path %></li>
          <% end %>
          <%= yield :functional_nav %>
        </ul>
      </nav>
      <%# END_HIGHLIGHT %>
      <%= yield :sidebar %>
      <section id="recent_activity">
        <header><h1 class="ir" id="recent">Recent Activity</h1></header>
        <%= render partial: 'activity_items/recent' %>
      </section>
    </section>
  </div>
  <footer id="page_footer">
    <ul>
      <li><%= link_to "Contact", "" %></li>
      <li><%= link_to "Help", "" %></li>
      <li><%= link_to "File a Bug", "" %></li>
    </ul>
    <p>&copy; 2012 AwesomeCo. All Rights Reserved. All Wrongs Reversed.</p>
  </footer>
</body>
</html>
