<p id="notice"><%= notice %></p>

<p>
  <b>Purchaser:</b>
  <%= @order.purchaser %>
</p>

<p>
  <b>Price:</b>
  <%= @order.price %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
