<section class='designer-status'>
  <title>Status</title>
  <dl>
    <dt>Active Projects</dt>
    <dd class='active-projects'><%= status.active_projects_count %></dd>
    <dt>Awaiting Approval</dt>
    <dd class='awaiting-creations'><%= status.awaiting_approvals_count %></dd>
    <dt>Approved</dt>
    <dd class='approved-creations'><%= status.approved_count %></dd>
  </dl>
  <%# START_HIGHLIGHT %>
  <% if status.expanded? %>
  <%# END_HIGHLIGHT %>
    <h3>Active Project Hours</h3>
    <table>
      <tr>
        <th>Project</th>
        <th>Hours</th>
      </tr>
      <% status.hours_per_project.each do |project, hours| %>
      <tr>
        <td><%= link_to project.name, project %></td>
        <td><%= hours %></td>
      </tr>
      <% end %>
      <tr>
        <th>Total</th>
        <td><%= status.active_hours %></td>
      </tr>
    </table>
    <%# START_HIGHLIGHT %>
  <% end %>
  <%# END_HIGHLIGHT %>
</section>
