<!-- START:notice -->
<% if flash[:notice] %>
<div class="notice">
	<%= h(flash[:notice]) %>
</div>
<% end %>
<!-- END:notice -->

<div style="margin-top:14px">
<% form_tag :controller => 'session', :action => "check_login" do %>
  <label for="user_user_name">Username</label>
    <%= text_field 'user', 'username' %>
  <br/>
  <label for="user_password">Password</label>
    <%= password_field 'user', 'password' %>
  <br/>  
    <%= submit_tag 'Login' %>
<% end %>
</div>

<div>
	<%= link_to "Register", new_user_path %>
</div>
