<%# START_HIGHLIGHT %>
<li id='creation-<%= creation.id %>' class='<%= creation.file_type %>'>
<%# END_HIGHLIGHT %>
  <% if @creation.default_image? %>
    <%= image_tag(@creation.default_image) %>
  <% else %>
    <%= image_tag("missing_creation.png")%>
  <% end %>
  <%= controls_for_creation(creation) %>
</li>
