<h1>Listing meetings</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Starts at</th>
    <th>Ends at</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @meetings.each do |meeting| %>
  <tr>
    <td><%= meeting.name %></td>
    <td><%= meeting.starts_at %></td>
    <td><%= meeting.ends_at %></td>
    <td><%= meeting.description %></td>
    <td><%= link_to 'Show', meeting %></td>
    <td><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
    <td><%= link_to 'Destroy', meeting, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Meeting', new_meeting_path %>
