<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @meeting.name %>
</p>

<p>
  <b>Starts at:</b>
  <%= @meeting.starts_at %>
</p>

<p>
  <b>Ends at:</b>
  <%= @meeting.ends_at %>
</p>

<p>
  <b>Description:</b>
  <%= @meeting.description %>
</p>


<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
