<%= form_for(@wombat) do |f| %>
  <% if @wombat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wombat.errors.count, "error") %> prohibited this wombat from being saved:</h2>

      <ul>
      <% @wombat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :bio %><br />
    <%= f.text_area :bio %>
  </div>
  <div class="field">
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
