<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @contact.name %>
</p>

<p>
  <b>Address1:</b>
  <%= @contact.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @contact.address2 %>
</p>

<p>
  <b>City:</b>
  <%= @contact.city %>
</p>

<p>
  <b>State:</b>
  <%= @contact.state %>
</p>

<p>
  <b>:</b>
  <%= @contact. %>
</p>

<p>
  <b>Country:</b>
  <%= @contact.country %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
