<header>
  <h1 class="h2">Customer Search</h1>
</header>
<section class="search-form">
  <%= form_for :customers, method: :get do |f| %>
    <div class="input-group input-group-lg">
      <%= label_tag :keywords, nil, class: "sr-only" %>
      <%= text_field_tag :keywords, nil, 
            placeholder: "First Name, Last Name, or Email Address", 
            class: "form-control input-lg" %>
      <span class="input-group-btn">
        <%= submit_tag "Find Customers", 
              class: "btn btn-primary btn-lg" %>
      </span>
    </div>
  <% end %>
</section>
<section class="search-results">
  <header>
    <h1 class="h3">Results</h1>
  </header>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Joined</th>
      </tr>
    </thead>
    <tbody>
      <% @customers.each do |customer| %>
        <tr>
          <td><%= customer.first_name %></td>
          <td><%= customer.last_name %></td>
          <td><%= customer.email %></td>
          <td><%= l customer.created_at.to_date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
