<p id="notice"><%= notice %></p>

<p>
  <b>Recipe:</b>
  <%= @ingredient.recipe_id %>
</p>

<p>
  <b>Name:</b>
  <%= @ingredient.name %>
</p>

<p>
  <b>Amount:</b>
  <%= @ingredient.amount %>
</p>


<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
