<% content_for :main_navigation do %>
  <nav id="main_nav" role="navigation">
    <ul>
      <%# START_HIGHLIGHT %>
      <%= nav_tab 'Home',        root_path,        current: current_tab %>
      <%= nav_tab 'Creations',   creations_path,   current: current_tab %>
      <%= nav_tab 'Campaigns',   campaigns_path,   current: current_tab %>
      <%= nav_tab 'Projects',    projects_path,    current: current_tab %>
      <%= nav_tab 'Designers',   designers_path,   current: current_tab %>
      <%# END_HIGHLIGHT %>
    </ul>
  </nav>
<% end %>
