

    <!DOCTYPE html>
    <html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>My XSS</title>
        <!--<%- 1 %>-->
        <style>
            body {
                color: #000077;
                font-size: large;
            }
            <%- 3 %>
        </style>
    </head>
    <body>
        <nav>
            <<%- 4 %> href="/second">Second page>
            <a href="/third?x=1">Third page</a>
        </nav>
        <div>
            <div>Labeling</div>
            <input <%- 7 %>="nice" />

            <button onclick="alert('why')">Touch me</button>
        </div>
        <script>
            var x = 'y';
            <%- 11 %>
        </script>
    </body>
    </html>



    <%- 5 %>