<%#START:content_for%>
<% content_for :recent do %>
<h1>Recent Recipes</h1>
	<ul>
	<% @recent_recipes.each do |recipe| %>
	  <li><%= link_to recipe.name, recipe %></li>
	<% end %>
	</ul>
<% end %>
<%#END:content_for%>
<h1>Listing recipes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recipes.each do |recipe| %>
  <tr>
    <td><%= recipe.name %></td>
    <td><%= recipe.body %></td>
    <td><%= link_to 'Show', recipe %></td>
    <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
    <td><%= link_to 'Destroy', recipe, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recipe', new_recipe_path %>
