<%= form_for(@house, :builder => AlternatingColorsFormBuilder) do |f| %>
  <% if @house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@house.errors.count, "error") %> prohibited this house from being saved:</h2>

      <ul>
      <% @house.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :street_address %>
    <%= f.text_field :postal_code %>
    <%= f.text_field :neighborhood %>
    <%= f.text_field :price %>
    <%= f.text_area :notes %>
    <%= f.submit %>
<% end %>
