<h1>Have lunch with us</h1>
<h2>Create A Profile</h2>

<%= error_messages_for 'user' %>
<% form_tag :action => 'create' do %>

<div class="highlighted-form">
  <table class="form">
    <tr>
      <!-- START_HIGHLIGHT -->
      <td class="label">CAS Username:</td>
      <td><%= session[:cas_user] %></td>
      <!-- END_HIGHLIGHT -->
    </tr>
    <tr>
      <td class="label">First Name:</td>
      <td><%= text_field('user', 'first_name', :size => 16) %></td>
    </tr>
    <tr>
      <td class="label">Last Name:</td>
      <td><%= text_field('user', 'last_name', :size => 16) %></td>
    </tr>
    <tr>
      <td class="label">Email:</td>
      <td><%= text_field('user', 'email') %></td>
    </tr>
    <tr>
      <td class="label">Zip Code:</td>
      <td><%= text_field('user', 'zip_code', :size => 6) %></td>
    </tr>		
  </table>
</div>
<div style="padding: 10px;">
  <%= submit_tag 'Create' %>
</div>
<% end %>

