<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>
    <% if content_for?(:title) %>
      ArtFlow: <%= yield :title %>
    <% else %>
      Artflow
    <% end %>
  </title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <%= image_tag("tagline.png",
                alt: "Creative File Management Made Easy",
                id: "tagline") %>
  <div class="container">
    <section id="content">
      <%# START:notifications %>
      <% if notice %>
        <p class="notification notice">
          <%= notice %>
        </p>
      <% end %>

      <% if alert %>
        <p class="notification alert">
          <%= alert %>
        </p>
      <% end %>
      <%# END:notifications %>
      <%= yield %>
    </section>
    <section id="sidebar">
      <nav id="functional_nav">
        <ul>
          <% if current_user && current_user.designer? %>
            <li><%= link_to 'Add Creation', new_creation_path %></li>
          <% end %>
          <%= yield :functional_nav %>
        </ul>
      </nav>
      <%= yield :sidebar %>
      <section id="recent_activity">
        <header><h1 class="ir" id="recent">Recent Activity</h1></header>
        <%= render partial: 'activity_items/recent' %>
      </section>
    </section>
  </div>
  <%= render 'layouts/footer' %>
</body>
</html>
