<h3>Welcome</h3>

<div class="highlighted-form">
	<table>
		<tr>
			<td class="label">Name:</td>
			<td><%= @user.first_name %> <%= @user.last_name %></td>
		</tr>
		<tr>
			<td class="label">Email:</td>
			<td><%= @user.email %></td>
		</tr>
		<tr>
			<td class="label">User Name:</td>
			<td><%= @user.username %></td>
		</tr>
		<tr>
			<td class="label">Zip Code:</td>
			<td><%= @user.zip_code %></td>
		</tr>		
	</table>
</div>

<h3>Comments</h3>
<% if @user.comments.empty? %>
	<i>no contacts here</i>
<% else %>
	<%= render :partial => 'contact', :collection => @user.contacts %>
<% end %>

<h3>Past Lunches</h3>

<div id="events">
<% if @user.events.empty? %>
	<i>nope, you haven't had lunch yet</i>
<% else %>
	<%= render :partial => 'events/event', :collection => @user.events %>
<% end %>
</event>